<div class="col-sm-4">
    <h4>Add Expense </h4>
    <form name="expenseForm" angular-validator-submit="submitMyForm(expense,'expense',true)" angular-validator novalidate>
        <div class="form-group">
            <input type="number" placeholder="Enter transaction id" name="transactionId" class="form-control" ng-model="expense.transactionId" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Enter Payer" name="payer" class="form-control" ng-model="expense.payer" ng-minlength="3" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Enter Payee" class="form-control" ng-model="expense.payee" name="payee" minlength="3" required>
        </div>
        <div class="form-group">
            <select name="category" class="form-control" ng-model="expense.category" ng-options="cate.categoryID as cate.category for cate in categorys" required>
                <option value="" selected="">Select Category</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Enter Amount" class="form-control" ng-model="expense.amount" name="amount" required/>
           
        </div>
        <div class="form-group">
            <!-- <input class="form-control" ng-model="example.value" type="datetime-local" ng-model="user.date" placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2016-12-31T00:00:00" required /> -->
        </div>
        <div class="form-group">
            <select name="modeofpayment" class="form-control" ng-model="expense.modeOfPayment" required ng-options="mode.mode as mode.modeofpayment for mode in modeofpayments">
                <option value="" selected="">Select mode of payment</option>
            </select>
        </div>
        <div class="form-group">
            <input name="noteType" class="form-control" type="text" placeholder="Enter the note" ng-model="expense.noteType" ng-maxlength="20" required/>
        </div>
        <button type="submit" class="btn btn-default">Add Expense</button>
    </form>
</div>
