<div ng-controller="addIncomeCtl">
    <div class="col-sm-4">
        <h4>Add Income </h4>
        <form name="incomeForm" angular-validator-submit="addIncome(income)" angular-validator novalidate>
            <div class="form-group">
                Transaction Id
                <input type="number" name="transactionId" class="form-control" ng-model="income.transactionId" disabled required>
            </div>
            <div class="form-group">
                Enter Payer
                <input type="text" name="payer" class="form-control" ng-model="income.payer" ng-minlength="3" required>
            </div>
            <div class="form-group">
                Enter Payee
                <input type="text" class="form-control" ng-model="income.payee" name="payee" minlength="3" required>
            </div>
            <div class="form-group">
                <select name="category" class="form-control" ng-model="income.category" ng-options="cate.categoryID as cate.category for cate in categorys" required>
                    <option value="" selected="">Select Category</option>
                </select>
            </div>
            <div class="form-group">
                Enter Amount
                <input type="number" step='any' ng-model="income.amount" class="form-control" min="0"  name="amount" required/>
            </div>
            <div class="form-group">
                Enter Date
                <input class="form-control" type="date" ng-model="income.date" min="01-01-2000" max="31-12-2021" required />
            </div>
            <div class="form-group">
                <select name="modeofpayment" class="form-control" ng-model="income.modeOfPayment" required ng-options="mode.mode as mode.modeofpayment for mode in modeofpayments">
                    <option value="" selected="">Select mode of payment</option>
                </select>
            </div>
            <div class="form-group">
                Enter the note
                <input name="noteType" class="form-control" type="text" ng-model="income.noteType" ng-maxlength="20" required/>
                <span style="color:red" ng-show="incomeForm.noteType.$error.maxlength">
        Note Should Contain only 20 Characters</span>
            </div>
            <button type="submit" class="btn btn-info" data-placement="left" title="Add {{ income.payer }} record">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Income
            </button>
        </form>
    </div>
</div>
