<div ng-controller="showIncomeCtl">
    <div class="col-sm-4">
        <h4>Edit Income </h4>
        <form name="incomeForm" angular-validator-submit="updateMyForm(income,'incomes')" angular-validator novalidate>
            <div class="form-group">
                Transaction Id
                <input type="number" placeholder="Enter transaction id" name="transactionId" class="form-control" ng-model="income.transactionId" required-message="'transactionId this is required'" required>
            </div>
            <div class="form-group">
                Enter Payer
                <input type="text" placeholder="Enter Payer" name="payer" class="form-control" ng-model="income.payer" ng-minlength="3" required>
            </div>
            <div class="form-group">
                Enter Payee
                <input type="text" placeholder="Enter Payee" class="form-control" ng-model="income.payee" name="payee" minlength="3" required>
            </div>
            <div class="form-group">
                <select name="category" class="form-control" ng-model="income.category" ng-options="cate.categoryID as cate.category for cate in categorys" required>
                    <option value="" selected="">Select Category</option>
                </select>
            </div>
            <div class="form-group">
                Enter Amount
                <input type="text" placeholder="Enter Amount" class="form-control" ng-model="income.amount" name="amount" required/>
            </div>
            <div class="form-group">
                Enter Date
                <input class="form-control" type="date" ng-model="income.date" placeholder="dd-MM-yyyy" required />
            </div>
            <div class="form-group">
                <select name="modeofpayment" class="form-control" ng-model="income.modeOfPayment" required ng-options="mode.mode as mode.modeofpayment for mode in modeofpayments">
                    <option value="" selected="">Select mode of payment</option>
                </select>
            </div>
            <div class="form-group">
                Enter the note
                <input name="noteType" class="form-control" type="text" placeholder="Enter the note" ng-model="income.noteType" ng-maxlength="20" required/>
            </div>
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Income
            </button>
        </form>
    </div>
</div>
