<div class="row">
    <div class="col-sm-4">
        <form name="settingForm" angular-validator-submit="submitNotify(data)" angular-validator novalidate>
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons" ng-init="data.value='Income'">
                    <input type="radio" name="income" ng-model="data.value" value="Income" ng-change='optValue(data.value)' required /><b> Income </b>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="expense" ng-model="data.value" value="Expense" ng-change='optValue(data.value)' required/><b> Expense</b>
                </div>
            </div>
            <div class="form-group">
                <select name="recurrType" class="form-control" ng-model="data.recurrType" required>
                    <option value="" selected>Select Recurring Type</option>
                    <option value="yearly">Yearly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </div>
            <div class="form-group">
                <select name="category" class="form-control" ng-model="data.category" ng-options="cate.categoryID as cate.category for cate in categorys" required>
                    <option value="" selected="">Select Category</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit
            </button>
        </form>
    </div>
</div>
